---
layout: default
---

<div class="home">
  <div id="typed-output"></div>
</div>

<!-- Add more custom content here -->

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var options = {
      strings: [
        "Hello! I'm a 24-year-old graduate with a background in Business Administration and specialization in Marketing Analytics. Currently, I am expanding my expertise through an IT traineeship at Calco. Welcome to my personal space where I share some of my projects related to data and automation."
      ],
      typeSpeed: 50,
      backSpeed: 25,
      startDelay: 500,
      showCursor: true,
      cursorChar: '|',
      autoInsertCss: true,
      loop: false
    };

    var typed = new Typed("#typed-output", options);
  });
</script>

<style>
  #typed-output {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
  }

  .typed-cursor {
    font-weight: bold;
    color: #555;
  }
</style>
